<!DOCTYPE html>
<html>

	<head>
	<meta charset="utf-8"/>
	<title>Video Maker</title>
	</head>
	
	<body>
	<form method="post" action="video_maker">
    	{% csrf_token %}
    	<p>Текст:&nbsp;<input pattern=".{1,125}" required name=text title="Введите текст" type="text" value="{{text}}"/></p>
    	<p>Длительность в секундах:&nbsp;<input name=sec required title="Введите число" min=1 type="number" value="{{sec}}"/></p>
        <p>Цвет фона:&nbsp;
        <select name=bgClr>
        {% for color in colors %}
        <option value="{{color.code}}" {%if color.code == bgClr%}selected{%endif%}>{{color.name}}</option>
        {% endfor %}
        </select></p>
        <p>Цвет текста:&nbsp;
        <select name=txtClr>
        {% for color in colors %}
        <option value="{{color.code}}" {%if color.code == txtClr%}selected{%endif%}>{{color.name}}</option>
        {% endfor %}
        </select></p>
        <p>Курсив:&nbsp;<input type=checkbox {%if italic%}checked{%endif%} name=checkboxes value="italic"/></p>
        <p>Полужирный:&nbsp;<input type=checkbox {%if bold%}checked{%endif%} name=checkboxes value="bold"/></p>
        <p><input title="Сделать видео" type="submit" value="Сделать видео"/></p>
    </form>
    {% if video is not None %}
    <video width=500 controls><source src="{{video}}" type="video/mp4"></video>
    {% endif %}
	</body>
</html>